<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <!-- Google Analytics -->
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-3470641-4']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
        <!-- Google Analytics end -->
    </head>
    <body>
      <div class="site">
        <div class="header">
          <h1 id="title">
            <a href="/">rafael<strong>dx7</strong></a>
          </h1>
        </div>

        {{ content }}

        <div class="footer">
          <div id="about">
            <p>
              Rafael Carvalho<br />
            </p>
          </div>
        </div>

        <!-- Disqus -->
        <script type="text/javascript">
          var disqus_shortname = 'rafaeldx7';
          (function () {
            var s = document.createElement('script'); s.async = true;
            s.src = 'http://disqus.com/forums/rafaeldx7/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
          }());
        </script>
        <!-- Disqus -->

      </div>
    </body>
</html>
